<h1>Hello from the cat!</h1>
<form action="/Cat/CreateCat" method="post">
    Name: <input type="text" name="Name"/> <br />
    Age: <input type="text" name="Age"/> <br />
    <input type="submit" value="Save" />
</form>